.intro {
  background-image: 
    linear-gradient(to right, rgba($blackColor, .1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba($blackColor, .1) 1px, transparent 1px);
  background-size: 20rem 20rem;
  position: relative;
  z-index: 0;
  @media (max-width: $md) {
    padding-bottom: 80rem;
  }
  &:before {
    background: radial-gradient(44% 50% at 50% 50%, rgba($whiteColor, 0) 0%, $whiteColor 100%);
    width: 100vw;
    min-width: 1512px;
    height: 100%;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    pointer-events: none;
    z-index: -1;
  }
  &__slider-circle {
    width: 1570rem;
    position: absolute;
    bottom: 50rem;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
    @media (max-width: $md) {
      width: 400rem;
      bottom: 00rem;
    }
    &:after {
    background: url('data:image/svg+xml,%3Csvg width="1570" height="138" viewBox="0 0 1570 138" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cg clip-path="url(%23clip0_2031_4)"%3E%3Cpath d="M1 1102.53V1122H20.6582V1123H0V1102.53H1ZM103.289 1122V1123H61.9736V1122H103.289ZM185.921 1122V1123H144.605V1122H185.921ZM268.553 1122V1123H227.236V1122H268.553ZM351.184 1122V1123H309.868V1122H351.184ZM433.815 1122V1123H392.5V1122H433.815ZM516.447 1122V1123H475.132V1122H516.447ZM599.079 1122V1123H557.763V1122H599.079ZM681.71 1122V1123H640.395V1122H681.71ZM764.342 1122V1123H723.026V1122H764.342ZM846.974 1122V1123H805.658V1122H846.974ZM929.605 1122V1123H888.289V1122H929.605ZM1012.24 1122V1123H970.921V1122H1012.24ZM1094.87 1122V1123H1053.55V1122H1094.87ZM1177.5 1122V1123H1136.18V1122H1177.5ZM1260.13 1122V1123H1218.82V1122H1260.13ZM1342.76 1122V1123H1301.45V1122H1342.76ZM1425.39 1122V1123H1384.08V1122H1425.39ZM1508.03 1122V1123H1466.71V1122H1508.03ZM1570 1102.53V1123H1549.34V1122H1569V1102.53H1570ZM1 1020.67V1061.6H0V1020.67H1ZM1570 1020.67V1061.6H1569V1020.67H1570ZM1 938.803V979.735H0V938.803H1ZM1570 938.803V979.735H1569V938.803H1570ZM1 856.937V897.87H0V856.937H1ZM1570 856.937V897.869H1569V856.937H1570ZM1 775.071V816.004H0V775.071H1ZM1570 775.071V816.004H1569V775.071H1570ZM1 693.206V734.139H0V693.206H1ZM1570 693.206V734.139H1569V693.206H1570ZM1 611.34V652.273H0V611.34H1ZM1570 611.341V652.273H1569V611.341H1570ZM1 529.475V570.407H0V529.475H1ZM1570 529.475V570.407H1569V529.475H1570ZM1 447.609V488.542H0V447.609H1ZM1570 447.609V488.542H1569V447.609H1570ZM1 365.744V406.677H0V365.744H1ZM1570 365.744V406.677H1569V365.744H1570ZM1 283.879V324.812H0V283.879H1ZM1570 283.878V324.811H1569V283.878H1570ZM1 202.013V242.945H0V202.013H1ZM1570 202.013V242.945H1569V202.013H1570ZM20.1768 134.365C13.7768 136.651 7.38441 138.966 1 141.312V161.08H0V140.613C6.60503 138.185 13.2191 135.79 19.8408 133.425L20.1768 134.365ZM1550.16 133.425C1556.78 135.79 1563.39 138.185 1570 140.613V161.08H1569V141.312C1562.62 138.966 1556.22 136.65 1549.82 134.364L1550.16 133.425ZM100.092 107.48C86.7014 111.711 73.3404 116.067 60.0107 120.552L59.6924 119.604L59.6914 119.604C73.0271 115.117 86.3945 110.759 99.791 106.527L100.092 107.48ZM1470.21 106.527C1483.6 110.759 1496.97 115.117 1510.31 119.604L1509.99 120.552C1496.66 116.068 1483.3 111.711 1469.91 107.48L1470.21 106.527ZM180.96 83.5732C167.418 87.3051 153.901 91.1648 140.413 95.1523L140.13 94.1953C153.624 90.206 167.146 86.3438 180.694 82.6104L180.96 83.5732ZM1389.3 82.6094C1402.85 86.3429 1416.37 90.2059 1429.87 94.1953L1429.59 95.1523C1416.1 91.1649 1402.58 87.305 1389.04 83.5732L1389.3 82.6094ZM262.542 62.1963H262.541L262.656 62.6826C248.985 65.9095 235.337 69.2652 221.713 72.749L221.465 71.7812C235.095 68.2959 248.75 64.9393 262.427 61.7109L262.542 62.1963ZM1307.57 61.7109C1321.25 64.9393 1334.9 68.2959 1348.53 71.7812L1348.29 72.749C1334.66 69.2652 1321.01 65.9096 1307.34 62.6826L1307.57 61.7109ZM344.873 43.8574L345.066 44.8379C331.284 47.5557 317.521 50.4023 303.779 53.3779L303.673 52.8887V52.8896L303.567 52.4023C317.315 49.4254 331.084 46.5754 344.872 43.8564L344.873 43.8574ZM1225.13 43.8564C1238.91 46.5755 1252.68 49.4243 1266.43 52.4014L1266.22 53.3779C1252.48 50.4022 1238.72 47.5557 1224.93 44.8379L1225.13 43.8564ZM427.982 29.4131L428.086 30.0605C414.21 32.2658 400.348 34.6003 386.505 37.0645L386.33 36.0811C400.18 33.6159 414.046 31.2804 427.929 29.0742L427.982 29.4131ZM1142.07 29.0742C1155.95 31.2805 1169.82 33.6158 1183.67 36.0811L1183.49 37.0645C1169.65 34.6004 1155.79 32.2658 1141.91 30.0605L1142.07 29.0742ZM511.477 17.3799L511.537 17.876H511.536L511.597 18.373C497.648 20.0622 483.711 21.8804 469.788 23.8291L469.649 22.8398C483.578 20.8904 497.521 19.0688 511.476 17.3789L511.477 17.3799ZM1058.52 17.3789C1072.48 19.0688 1086.42 20.8903 1100.35 22.8398L1100.21 23.8291C1086.29 21.8804 1072.35 20.0613 1058.4 18.3721L1058.52 17.3799V17.3789ZM595.481 9.78906C581.479 10.96 567.483 12.2614 553.499 13.6924L553.397 12.6982C567.388 11.2666 581.388 9.96542 595.397 8.79395L595.481 9.78906ZM974.602 8.79395C988.61 9.96536 1002.61 11.2667 1016.6 12.6982L1016.5 13.6924C1002.52 12.2615 988.521 10.96 974.519 9.78906L974.602 8.79395ZM679.627 4.32129C665.589 4.97239 651.555 5.75357 637.527 6.66504L637.463 5.66895C651.497 4.75705 665.536 3.97366 679.581 3.32227L679.627 4.32129ZM890.418 3.32227C904.463 3.97365 918.502 4.75706 932.536 5.66895L932.516 6.00586L932.472 6.66504C918.445 5.75358 904.411 4.97238 890.373 4.32129L890.418 3.32227ZM763.918 1.97656C749.864 2.10683 735.812 2.36799 721.762 2.75879L721.734 1.75977C735.791 1.36878 749.849 1.10883 763.909 0.978516L763.918 1.97656ZM806.09 0.978516C820.15 1.10883 834.208 1.36879 848.265 1.75977L848.238 2.75879C834.188 2.36799 820.135 2.10683 806.081 1.97656L806.09 0.978516Z" fill="black"/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id="clip0_2031_4"%3E%3Crect width="1570" height="138" fill="white"/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A') 50% / contain no-repeat;
    padding: 0 0 8.7898089172%;
    content: '';
    display: block;
    }
  }
  &__container {
    min-height: 980rem;
    padding-top: 184rem;
    padding-bottom: 180rem;
    position: relative;
    @media (max-width: $md) {
      min-height: 0;
      padding-top: 70rem;
      padding-bottom: 80rem;
      position: static;
    }
  }
  &__row {
  }
  &__col {
    &--content {
      @media (max-width: $md) {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
  }
  &__content {
  }
  &__suptitle {
    margin: 0;
  }
  &__title {
    margin: 0 0 55rem;
    @media (max-width: $md) {
      margin-bottom: 45rem;
    }
    span:not([class]) {
      background: $accentColor;
      color: $whiteColor;
      position: relative;
      @media (min-width: $md-mf) {
        background: transparent;
        display: inline-block;
      }
      &:before {
        @media (min-width: $md-mf) {
          background: url(../images/pattern-1.png) 50% / 100% 100% no-repeat;
          content: '';
          position: absolute;
          top: -1rem;
          bottom: 0;
          right: -41rem;
          left: -18rem;
          pointer-events: none;
          z-index: -1;
        }
      }
    }
  }
  &__cta {
  }
  &__media {
    position: absolute;
    bottom: 0;
    right: -44rem;
    pointer-events: none;
    user-select: none;
    z-index: 2;
    @media (max-width: $md) {
      bottom: -80rem;
      right: -44rem;
    }
  }
  &__hero {
    width: 532rem;
    @media (max-width: $md) {
      width: 182rem;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__slider-courses {
    width: 100%;
    position: absolute;
    bottom: 280rem;
    left: 0;
    @media (max-width: $md) {
        margin: -20rem 0 24rem 10rem;
        position: relative;
        bottom: 0;
        transform: rotate(-4deg);
    }
  }
}