.reviews {
  padding: var(--section-gap-1) 0;
  position: relative;
  z-index: 0;
  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__container {
  }
  &__header {
    max-width: 500rem;
    margin: 0 auto var(--header-gap);
    text-align: center;
  }
  &__suptitle {
    margin: 0 0 var(--subtitle-gap);
  }
  &__title {
    @media (max-width: $md) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    span:not([class]) {
    }
  }
  &__slider-reviews-video {
  }
  &__footer {
    margin: var(--footer-section-gap) 0 0;
    &-cta {
      width: 100%;
      max-width: var(--cta-md-mw);
      margin: 0 auto;
    }
  }
}