/* Headings, Common BEM Blocks, and More... */

.btn {
  max-width: 100%;
  min-height: var(--btn-height);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: inherit;
  font-size: var(--btn-font-size);
  line-height: $lineHeightDefault;
  font-family: $fontFamily;
  text-align: center;
  text-transform: none;
  border: none;
  border-radius: 0;
  outline: none;
  user-select: none;
  transition: $transition;
  position: relative;
  cursor: pointer;
  z-index: 0;
  &:hover {
    text-decoration: none;
  }
  &.disabled,
  &:disabled {
    pointer-events: none;
  }
  &--theme {
    &-accent-fill {
      background: $accentColor;
      color: $whiteColor;
      border: 1px solid $accentColor;
      border-radius: $radiusSm;
      &:hover {
        @media (min-width: $lg-mf) {
          background: $blueLightColor;
        }
      }
      &:focus,
      &:active {
      }
    }
  }
  &--size {
    &-md {
      --btn-height: 52rem;
      --btn-padding-x: 28rem;
      --btn-padding-y: 8rem;
      --btn-font-size: var(--fs-6);
      @media (max-width: $md) {
        --btn-height: 44rem;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: none;
    z-index: 1;
  }
  &__title {
  }
  &__icon {
    width: 24rem;
    height: 24rem;
    position: relative;
    &--dir {
      &-ltr {
        margin-right: 10rem;
      }
      &-rtl {
        margin-left: 10rem;
      }
    }
    .u-icon,
    img,
    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.u-input {
  background: var(--input-bg);
  width: 100%;
  min-height: var(--input-size);
  padding: var(--input-padding-y) var(--input-padding-x);
  display: block;
  font-size: var(--input-fs);
  color: var(--input-color);
  border-radius: var(--input-radius);
  border: none;
  outline: none;
  transition: $transition;
  &--size {
    &-md {
      --input-size: 52rem;
      --input-padding-y: 6rem;
      --input-padding-x: 32rem;
      --input-fs: var(--fs-6);
      --input-radius: #{$radiusSm};
      @media (max-width: $md) {
        --input-size: 44rem;
      }
    }
  }
  &--theme {
    &-grey {
      --input-bg: #{$greyColor};
      --input-color: #{$fontColor};
      --input-placeholder-color: #{rgba($fontColor, .4)};
      border: 1px solid transparent;
      @media (max-width: $md) {
      }
      &:hover {
        @media (min-width: $lg-mf) {
          &::placeholder {
            opacity: .5;
          }
        }
      }
      &:focus {
      }
    }
  }
  &::placeholder {
    color: var(--input-placeholder-color);
    opacity: 1;
    transition: $transition;
  }
  &:focus {
    &::placeholder {
      opacity: .2;
    }
  }
}

.swiper-button {
  @extend %area-click, %btn-reset;
  width: 42rem;
  height: 48rem;
  color: $accentColor;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transition: $transition;
  cursor: pointer;
  z-index: 1;
  &:hover {
    text-decoration: none;
    @media (min-width: $lg-mf) {
      transform: translate(0, -50%) scale(1.1);
    }
  }
  &:after {
    width: 0;
    height: 0;
    content: '';
    display: block;
    border-style: solid;
    border-width: 24rem 0 24rem 42rem;
    border-color: transparent transparent transparent currentColor;
  }
  &-prev {
    left: -62rem;
    @media (max-width: $md) {
      width: 52rem;
      height: 100%;
      left: 0;
      opacity: 0;
    }
    &:after {
      transform: scaleX(-1);
    }
  }
  &-next {
    right: -62rem;
    @media (max-width: $md) {
      width: 52rem;
      height: 100%;
      right: 0;
      opacity: 0;
    }
  }
}

.u-content {
  line-height: $lineHeightDefault;
  color: $blackLightColor;
  word-wrap: break-word;
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  p {
    margin: 0 0 1em;
  }
  a {
    color: $accentColor;
    box-shadow: inset 0 -1px 0 transparent;
    transition: $transition;
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
        box-shadow: inset 0 -1px 0 rgba($accentColor, .4);
      }
    }
  }
}

.bg-grid {
  background-image: 
    linear-gradient(to right, rgba($blackColor, .1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba($blackColor, .1) 1px, transparent 1px);
  background-size: 20rem 20rem;
  position: relative;
  &--radial-white {
    &:before {
      background: radial-gradient(44% 50% at 50% 50%, rgba($whiteColor, 0) 0%, $whiteColor 100%);
      width: 100vw;
      min-width: 1512px;
      height: 100%;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      user-select: none;
      pointer-events: none;
      z-index: -1;
    }
  }
}

.cta-form {
  &__inner {
    max-width: 518rem;
    display: flex;
    @media (max-width: $md) {
      flex-direction: column;
    }
  }
  &__el {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    @media (max-width: $md) {
      text-align: center;
      border-radius: 6rem 6rem 0 0;
    }
    &:not(.is-show) {
      display: none;
    }
    &-wrapper {
      flex-grow: 1;
    }
  }
  &__btn {
    flex-shrink: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    @media (max-width: $md) {
      border-radius: 0 0 6rem 6rem;
    }
  }
}

.courses-card {
  text-align: center;
  position: relative;
  &:hover {
    .courses-card__img {
      @media (min-width: $lg-mf) {
        transform: scale(1.08);
        box-shadow: $boxShadowBlack2;
      }
    }
  }
  &__content {
  }
  &__title {
    margin: 0 0 4rem;
    font-weight: bold;
    font-size: var(--fs-11);
  }
  &__link {
    @extend %link-cover;
    &:hover {
      text-decoration: none;
      transition: $transition;
      @media (min-width: $lg-mf) {
      }
    }
  }
  &__media {
    width: fit-content;
    margin: 0 auto;
    position: relative;
    z-index: -1;
  }
  &__img {
    @extend %img-cover;
    width: 136rem;
    padding-bottom: 61.5%;
    transition: $transition;
    border-radius: $radiusXs;
    box-shadow: $boxShadowBlack1;
    @media (max-width: $md) {
      width: 120rem;
    }
  }
}

.slider-courses {
  margin: 0 -5rem;
  position: relative;
  @media (max-width: $md) {
    margin-right: -7rem;
    margin-left: -7rem;
  }
  &:before,
  &:after {
    width: 180rem;
    content: '';
    position: absolute;
    top: 0;
    bottom: -220rem;
    pointer-events: none;
    z-index: 2;
    @media (max-width: $md) {
      width: 120rem;
      bottom: -68rem;
    }
  }
  &:before {
    background: linear-gradient(to right, $whiteColor 4%, transparent 100%);
    left: 0;
    @media (max-width: $md) {
      left: -20rem;
    }
  }
  &:after {
    background: linear-gradient(to left, $whiteColor 4%, transparent 100%);
    right: -10rem;
    @media (max-width: $md) {
      right: -20rem;
    }
  }
  .swiper {
    overflow: visible;
    &-wrapper {
      transition-timing-function: linear !important;
      overflow: visible;
    }
    &-slide {
      width: fit-content;
      padding: 0 5rem;
      @media (max-width: $md) {
        padding: 0 7rem;
      }
      &-prev {
        @media (max-width: $md) {
        }
      }
      &-next {
        @media (max-width: $md) {
        }
      }
      &:after {
        background: url('data:image/svg+xml,%3Csvg width="1" height="42" viewBox="0 0 1 42" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M0.999999 14L-6.11959e-07 14L0 -4.37113e-08L1 0L0.999999 14Z" fill="black"/%3E%3C/svg%3E%0A') 0 0 / 100% auto repeat-y;
        width: 1px;
        height: 58rem;
        margin-top: 8rem;
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        animation: 2s lines-shake infinite linear;
        @media (max-width: $md) {
          height: 40rem;
        }
      }
    }
  }
  &__inner {
  }
  &__slide {
    transform: rotate(0deg) translate(0px, 0px);
    transition: all 4s linear;
  }
  &__card {
  }
}

.slider-services {
  margin: 0 calc(-1 * var(--slider-services-gap));
  counter-reset: servicesCounter;
  position: relative;
  @media (max-width: $md) {
    margin: 0 var(--gap-container-);
    padding: 0 var(--gap);
  }
  .swiper {
    overflow: visible;
    @media (min-width: $md-mf) {
    }
    &-wrapper {
      @media (min-width: $md-mf) {
        row-gap: calc(2 * var(--slider-services-gap));
        flex-wrap: wrap;
      }
    }
    &-slide {
      padding: 0 var(--slider-services-gap);
      counter-increment: servicesCounter;
      @media (min-width: $md-mf) {
        max-width: 25%;
        flex: 0 0 25%;
      }
      @media (max-width: $md) {
        transition: $transition !important;
      }
      &-prev {
        @media (max-width: $md) {
        }
      }
      &-next {
        @media (max-width: $md) {
        }
      }
      &:not(&-active) {
        @media (max-width: $md) {
          transform: scale(.92);
        }
      }
    }
    &-button {
      @media (min-width: $md-mf) {
        display: none !important;
      }
    }
  }
  &__inner {
  }
  &__slide {
    height: initial;
    @media (min-width: $md-mf) {
    }
  }
  &__card {
    height: 100%;
  }
}

.slider-info {
  margin: 0 calc(-1 * var(--slider-info-gap));
  counter-reset: servicesCounter;
  position: relative;
  @media (max-width: $md) {
    margin: 0 var(--gap-container-);
    padding: 0 var(--gap);
  }
  .swiper {
    overflow: visible;
    @media (min-width: $md-mf) {
    }
    &-wrapper {
      @media (min-width: $md-mf) {
        row-gap: calc(2 * var(--slider-info-gap));
        flex-wrap: wrap;
      }
    }
    &-slide {
      padding: 0 var(--slider-info-gap);
      counter-increment: servicesCounter;
      @media (min-width: $md-mf) {
        max-width: 25%;
        flex: 0 0 25%;
      }
      @media (max-width: $md) {
        transition: $transition !important;
      }
      &-prev {
        @media (max-width: $md) {
        }
      }
      &-next {
        @media (max-width: $md) {
        }
      }
      &:not(&-active) {
        @media (max-width: $md) {
          transform: scale(.92);
        }
      }
    }
    &-button {
      @media (min-width: $md-mf) {
        display: none !important;
      }
    }
  }
  &__inner {
  }
  &__slide {
    height: initial;
    @media (min-width: $md-mf) {
    }
  }
  &__card {
    height: 100%;
  }
}

.slider-courses-typical {
  --slider-gap: -18rem;
  margin: 0 var(--slider-gap);
  position: relative;
  @media (max-width: $md) {
    --slider-gap: -7rem;
  }
  &:before,
  &:after {
    width: 130rem;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 2;
    @media (max-width: $md) {
      width: 140rem;
    }
  }
  &:before {
    background: linear-gradient(to left, $whiteColor 4%, transparent 100%);
    right: 0;
    @media (max-width: $md) {
      right: 0;
    }
  }
  &:after {
    background: linear-gradient(to right, $whiteColor 4%, transparent 100%);
    left: 0;
    @media (max-width: $md) {
      left: 0;
    }
  }
  .swiper {
    margin: -30rem 0;
    padding: 30rem 0;
    &-wrapper {
      transition-timing-function: linear !important;
    }
    &-slide {
      width: auto;
      padding: 0 calc(-1 * var(--slider-gap));
      @media (max-width: $md) {
      }
      &-prev {
        @media (max-width: $md) {
        }
      }
      &-next {
        @media (max-width: $md) {
        }
      }
    }
  }
  &__inner {
  }
  &__slide {
  }
  &__card {
  }
}

.slider-reviews-video {
  margin: 0 calc(-1 * var(--slider-reviews-video-gap));
  position: relative;
  @media (max-width: $md) {
    margin: 0 var(--gap-container-);
    padding: 0 var(--gap);
  }
  .swiper {
    overflow: visible;
    @media (min-width: $md-mf) {
      overflow: hidden;
    }
    &-wrapper {
    }
    &-slide {
      padding: 0 var(--slider-reviews-video-gap);
      @media (max-width: $md) {
        transition: $transition !important;
      }
      &-prev {
        @media (max-width: $md) {
        }
      }
      &-next {
        @media (max-width: $md) {
        }
      }
      &:not(&-active) {
        @media (max-width: $md) {
          transform: scale(.92);
        }
      }
    }
  }
  &__inner {
  }
  &__slide {
  }
  &__card {
  }
}

.slider-reviews {
  margin: 0 calc(-1 * var(--slider-reviews-gap));
  position: relative;
  @media (max-width: $md) {
    margin: 0 var(--gap-container-);
    padding: 0 var(--gap);
  }
  .swiper {
    overflow: visible;
    @media (min-width: $md-mf) {
    }
    &-wrapper {
      @media (min-width: $md-mf) {
        margin-bottom: -72rem;
        flex-wrap: wrap;
      }
    }
    &-slide {
      padding: 0 var(--slider-reviews-gap);
      @media (min-width: $md-mf) {
        max-width: 33.33333%;
        margin-bottom: 72rem;
        flex: 0 0 33.33333%;
      }
      @media (max-width: $md) {
        transition: $transition !important;
      }
      &-prev {
        @media (max-width: $md) {
        }
      }
      &-next {
        @media (max-width: $md) {
        }
      }
      &:not(&-active) {
        @media (max-width: $md) {
          transform: scale(.92);
        }
      }
    }
    &-button {
      @media (min-width: $md-mf) {
        display: none !important;
      }
    }
  }
  &__inner {
  }
  &__slide {
    @media (min-width: $md-mf) {
      height: initial;
    }
  }
  &__card {
    height: 100%;
  }
}

.u-marquee {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  &:hover {
  }
  &:before,
  &:after {
    width: 194rem;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 2;
    @media (max-width: $md) {
      width: 100rem;
    }
  }
  &:before {
    background: linear-gradient(-90deg, $yellowColor 14%, rgba($yellowColor, 0) 100%);
    right: 0;
    @media (max-width: $md) {
    }
  }
  &:after {
    background: linear-gradient(90deg, $yellowColor 14%, rgba($yellowColor, 0) 100%);
    left: 0;
    @media (max-width: $md) {
    }
  }
  &__row {
    display: flex;
    position: relative;
    will-change: transform;
    pointer-events: none;
    transition-timing-function: linear !important;
    @media (max-width: $md) {
      margin-right: var(--gap-container-);
      margin-left: var(--gap-container-);
    }
  }
  &__col {
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
  }
  &__clients-logo {
    margin: 0 var(--slider-marquee-gap);
    pointer-events: none;
    user-select: none;
    @media (max-width: $sm) {
      margin: 0 18rem;
    }
    img {
      max-width: 100%;
      width: auto;
      height: 30rem;
      display: block;
      object-fit: contain;
      @media (max-width: $sm) {
        height: 24rem;
      }
    }
  }
}

.section-circle {
  padding-top: var(--section-circle-gap);
  overflow: hidden;
  position: relative;
  z-index: 0;
  @media (max-width: $md) {
  }
  &:before,
  &:after {
    background: var(--yellow-color);
    content: '';
    position: absolute;
    pointer-events: none;
    z-index: -1;
  }
  &:before {
    width: 300vw;
    height: 300vw;
    border-radius: 50%;
    top: 0;
    left: -100vw;
    @media (max-width: $md) {
      top: 0;
    }
  }
  &:after {
    width: 100%;
    content: '';
    top: var(--section-circle-gap);
    bottom: 0;
    left: 0;
  }
}

.text-bg-pattern {
  span:not([class]) {
    background: $accentColor;
    color: $whiteColor;
    position: relative;
    z-index: 0;
    @media (min-width: $md-mf) {
      background: transparent;
      width: fit-content;
      margin-right: auto;
      margin-left: auto;
      display: block;
    }
    &:before {
      @media (min-width: $md-mf) {
        background: url('../images/pattern-1.png') 50% / 100% 100% no-repeat;
        content: '';
        position: absolute;
        top: -7rem;
        bottom: -7rem;
        right: -18rem;
        left: -18rem;
        pointer-events: none;
        z-index: -1;
      }
    }
  }
}

.box-border {
  &:before,
  &:after {
    background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-size: contain;
    content: '';
    position: absolute;
    pointer-events: none;
    transition: $transition;
    transition-property: transform, inset, top, right, bottom, left;
    z-index: 1;
  }
  &:before {
    -webkit-mask-image: url('data:image/svg+xml,%3Csvg width="220" height="110" viewBox="0 0 220 110" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M36.6691 1.18146e-06C31.2901 1.6517e-06 26.9901 -4.88652e-06 23.4922 0.233996C19.9942 0.457997 17.3102 0.917001 15.1552 1.834C12.0542 2.99601 9.27822 4.83001 7.00123 7.16401C4.72324 9.49802 2.93323 12.341 1.80524 15.52C0.911241 17.721 0.453255 20.473 0.229256 24.0501C0.00525774 27.6371 0.00525817 32.0391 0.00525865 37.5521L0.00526396 98.3192C-0.115735 100.581 1.86625 102.364 4.03224 101.936C5.68923 101.62 6.83823 100.04 6.65523 98.3192L6.65522 35.8501C6.65522 31.6211 6.65523 28.2381 6.82823 25.497C7.01122 22.756 7.35622 20.646 8.04822 18.954C8.91221 16.509 10.2742 14.328 12.0232 12.534C13.7722 10.741 15.8972 9.33402 18.2762 8.44802C19.9332 7.74502 21.9972 7.38801 24.6811 7.21501C27.3651 7.04201 30.6601 7.05201 34.7881 7.05201L98.5468 7.05201C100.204 7.09301 101.648 5.90001 101.943 4.22901C102.329 2.048 100.712 0.0299956 98.5468 -4.22807e-06L36.6691 1.18146e-06Z" fill="black"/%3E%3Cpath d="M220 36.6691C220 31.2901 220 26.9901 219.766 23.4922C219.542 19.9942 219.083 17.3102 218.166 15.1552C217.004 12.0542 215.17 9.27823 212.836 7.00124C210.502 4.72325 207.659 2.93324 204.48 1.80525C202.278 0.91125 199.527 0.453264 195.95 0.229265C192.363 0.00526665 187.961 0.00526708 182.448 0.00526757L121.681 0.00527288C119.419 -0.115726 117.636 1.86626 118.064 4.03225C118.38 5.68924 119.96 6.83824 121.681 6.65524L184.15 6.65523C188.379 6.65523 191.762 6.65524 194.503 6.82823C197.244 7.01123 199.354 7.35623 201.046 8.04823C203.491 8.91222 205.672 10.2742 207.466 12.0232C209.259 13.7722 210.666 15.8972 211.552 18.2762C212.255 19.9332 212.612 21.9972 212.785 24.6812C212.958 27.3651 212.948 30.6601 212.948 34.7881L212.948 98.5468C212.907 100.204 214.1 101.648 215.771 101.943C217.952 102.329 219.97 100.712 220 98.5468L220 36.6691Z" fill="black"/%3E%3C/svg%3E%0A');
    mask-image: url('data:image/svg+xml,%3Csvg width="220" height="110" viewBox="0 0 220 110" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M36.6691 1.18146e-06C31.2901 1.6517e-06 26.9901 -4.88652e-06 23.4922 0.233996C19.9942 0.457997 17.3102 0.917001 15.1552 1.834C12.0542 2.99601 9.27822 4.83001 7.00123 7.16401C4.72324 9.49802 2.93323 12.341 1.80524 15.52C0.911241 17.721 0.453255 20.473 0.229256 24.0501C0.00525774 27.6371 0.00525817 32.0391 0.00525865 37.5521L0.00526396 98.3192C-0.115735 100.581 1.86625 102.364 4.03224 101.936C5.68923 101.62 6.83823 100.04 6.65523 98.3192L6.65522 35.8501C6.65522 31.6211 6.65523 28.2381 6.82823 25.497C7.01122 22.756 7.35622 20.646 8.04822 18.954C8.91221 16.509 10.2742 14.328 12.0232 12.534C13.7722 10.741 15.8972 9.33402 18.2762 8.44802C19.9332 7.74502 21.9972 7.38801 24.6811 7.21501C27.3651 7.04201 30.6601 7.05201 34.7881 7.05201L98.5468 7.05201C100.204 7.09301 101.648 5.90001 101.943 4.22901C102.329 2.048 100.712 0.0299956 98.5468 -4.22807e-06L36.6691 1.18146e-06Z" fill="black"/%3E%3Cpath d="M220 36.6691C220 31.2901 220 26.9901 219.766 23.4922C219.542 19.9942 219.083 17.3102 218.166 15.1552C217.004 12.0542 215.17 9.27823 212.836 7.00124C210.502 4.72325 207.659 2.93324 204.48 1.80525C202.278 0.91125 199.527 0.453264 195.95 0.229265C192.363 0.00526665 187.961 0.00526708 182.448 0.00526757L121.681 0.00527288C119.419 -0.115726 117.636 1.86626 118.064 4.03225C118.38 5.68924 119.96 6.83824 121.681 6.65524L184.15 6.65523C188.379 6.65523 191.762 6.65524 194.503 6.82823C197.244 7.01123 199.354 7.35623 201.046 8.04823C203.491 8.91222 205.672 10.2742 207.466 12.0232C209.259 13.7722 210.666 15.8972 211.552 18.2762C212.255 19.9332 212.612 21.9972 212.785 24.6812C212.958 27.3651 212.948 30.6601 212.948 34.7881L212.948 98.5468C212.907 100.204 214.1 101.648 215.771 101.943C217.952 102.329 219.97 100.712 220 98.5468L220 36.6691Z" fill="black"/%3E%3C/svg%3E%0A');
    top: -14rem;
    right: -14rem;
    bottom: calc(50% - 14rem);
    left: -14rem;
    mask-position: center top;
  }
  &:after {
    -webkit-mask-image: url('data:image/svg+xml,%3Csvg width="220" height="110" viewBox="0 0 220 110" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M183.331 110C188.71 110 193.01 110 196.508 109.766C200.006 109.542 202.69 109.083 204.845 108.166C207.946 107.004 210.722 105.17 212.999 102.836C215.277 100.502 217.067 97.659 218.195 94.48C219.089 92.279 219.547 89.527 219.771 85.95C219.995 82.3629 219.995 77.9609 219.995 72.4479V11.6808C220.116 9.41881 218.134 7.6358 215.968 8.06381C214.311 8.37981 213.162 9.95981 213.345 11.6808V74.1499C213.345 78.3789 213.345 81.762 213.172 84.503C212.989 87.244 212.644 89.354 211.952 91.046C211.088 93.491 209.726 95.672 207.977 97.466C206.228 99.259 204.103 100.666 201.724 101.552C200.067 102.255 198.003 102.612 195.319 102.785C192.635 102.958 189.34 102.948 185.212 102.948H121.453C119.796 102.907 118.352 104.1 118.057 105.771C117.671 107.952 119.288 109.97 121.453 110H183.331Z" fill="black"/%3E%3Cpath d="M2.70479e-06 73.3309C2.93989e-06 78.7099 7.7188e-06 83.0099 0.2344 86.5078C0.458484 90.0058 0.917413 92.6898 1.83437 94.8448C2.99602 97.9458 4.83036 100.722 7.16397 102.999C9.49758 105.277 12.3407 107.067 15.5201 108.195C17.7215 109.089 20.4727 109.547 24.0497 109.771C27.6368 109.995 32.0392 109.995 37.5521 109.995H98.3188C100.581 110.116 102.364 108.134 101.936 105.968C101.62 104.311 100.04 103.162 98.3188 103.345H35.8504C31.6215 103.345 28.2383 103.345 25.4968 103.172C22.7557 102.989 20.6462 102.644 18.9544 101.952C16.5087 101.088 14.3279 99.7258 12.5344 97.9768C10.7408 96.2278 9.33445 94.1028 8.44797 91.7238C7.7448 90.0668 7.38806 88.0028 7.21507 85.3188C7.04163 82.6349 7.05193 79.3399 7.05193 75.2119V11.4532C7.09271 9.79616 5.90015 8.35216 4.22937 8.05716C2.04814 7.67117 0.0304754 9.28816 0 11.4532L2.70479e-06 73.3309Z" fill="black"/%3E%3C/svg%3E%0A');
    mask-image: url('data:image/svg+xml,%3Csvg width="220" height="110" viewBox="0 0 220 110" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M183.331 110C188.71 110 193.01 110 196.508 109.766C200.006 109.542 202.69 109.083 204.845 108.166C207.946 107.004 210.722 105.17 212.999 102.836C215.277 100.502 217.067 97.659 218.195 94.48C219.089 92.279 219.547 89.527 219.771 85.95C219.995 82.3629 219.995 77.9609 219.995 72.4479V11.6808C220.116 9.41881 218.134 7.6358 215.968 8.06381C214.311 8.37981 213.162 9.95981 213.345 11.6808V74.1499C213.345 78.3789 213.345 81.762 213.172 84.503C212.989 87.244 212.644 89.354 211.952 91.046C211.088 93.491 209.726 95.672 207.977 97.466C206.228 99.259 204.103 100.666 201.724 101.552C200.067 102.255 198.003 102.612 195.319 102.785C192.635 102.958 189.34 102.948 185.212 102.948H121.453C119.796 102.907 118.352 104.1 118.057 105.771C117.671 107.952 119.288 109.97 121.453 110H183.331Z" fill="black"/%3E%3Cpath d="M2.70479e-06 73.3309C2.93989e-06 78.7099 7.7188e-06 83.0099 0.2344 86.5078C0.458484 90.0058 0.917413 92.6898 1.83437 94.8448C2.99602 97.9458 4.83036 100.722 7.16397 102.999C9.49758 105.277 12.3407 107.067 15.5201 108.195C17.7215 109.089 20.4727 109.547 24.0497 109.771C27.6368 109.995 32.0392 109.995 37.5521 109.995H98.3188C100.581 110.116 102.364 108.134 101.936 105.968C101.62 104.311 100.04 103.162 98.3188 103.345H35.8504C31.6215 103.345 28.2383 103.345 25.4968 103.172C22.7557 102.989 20.6462 102.644 18.9544 101.952C16.5087 101.088 14.3279 99.7258 12.5344 97.9768C10.7408 96.2278 9.33445 94.1028 8.44797 91.7238C7.7448 90.0668 7.38806 88.0028 7.21507 85.3188C7.04163 82.6349 7.05193 79.3399 7.05193 75.2119V11.4532C7.09271 9.79616 5.90015 8.35216 4.22937 8.05716C2.04814 7.67117 0.0304754 9.28816 0 11.4532L2.70479e-06 73.3309Z" fill="black"/%3E%3C/svg%3E%0A');
    top: calc(50% - 14rem);
    right: -14rem;
    bottom: -14rem;
    left: -14rem;
    mask-position: center bottom;
  }
}

.u-box {
  color: var(--u-box-color-accent);
  border-radius: $radiusSemi;
  transition: all .4s;
  position: relative;
  &--size {
    &-md {
      @media (min-width: $md-mf) {
        border-radius: $radiusMedium;
      }
      .u-box__inner {
        @media (min-width: $md-mf) {
          padding-right: 22rem;
          padding-left: 22rem;
        }
      }
      .u-box__border {
        &:before {
          @media (min-width: $md-mf) {
            top: -22rem;
            right: -22rem;
            bottom: calc(50% - 22rem);
            left: -22rem;
          }
        }
        &:after {
          @media (min-width: $md-mf) {
            top: calc(50% - 22rem);
            right: -22rem;
            bottom: -22rem;
            left: -22rem;
          }
        }
      }
      .u-box__counter {
        @media (min-width: $md-mf) {
          width: 28rem;
          height: 28rem;
          font-size: 14rem;
          top: 12rem;
          left: 12rem;
        }
      }
    }
  }
  &:hover {
    @media (min-width: $lg-mf) {
      --u-box-color-accent: #{$accentColor} !important;
    }
    &:before {
      @media (min-width: $lg-mf) {
        background: $accentColor;
        inset: -18rem;
        box-shadow: 0 4px 17px rgba($blackColor, .47);
      }
    }
    .u-box__border {
      @media (min-width: $lg-mf) {
        filter: drop-shadow(0 4px 17px rgba($blackColor, .47));
        z-index: 2;
      }
    }
    .u-box__border:before {
      @media (min-width: $lg-mf) {
        transform: scale(1.24);
        top: -24rem;
        z-index: 2;
      }
    }
    .u-box__border:after {
      @media (min-width: $lg-mf) {
        transform: scale(1.24);
        bottom: -24rem;
        z-index: 2;
      }
    }
    .u-box__counter {
      @media (min-width: $lg-mf) {
        background: $greyDarkColor;
      }
    }
    .u-box__content {
      @media (min-width: $lg-mf) {
        color: $whiteColor;
      }
    }
  }
  &:before {
    background: $greyLightColor;
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    transition: $transition;
  }
  &__border {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: $transition;
    &:before {
      transition: $transition;
      z-index: 0;
    }
  }
  &__inner {
    height: 100%;
    padding: 48rem 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  &__counter {
    background: currentColor;
    min-width: 20rem;
    height: 20rem;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    text-align: center;
    border-radius: 20rem;
    position: absolute;
    top: 8rem;
    left: 8rem;
    transition: $transition;
    overflow: hidden;
    &:after {
      content: counter(servicesCounter);
      color: $whiteColor;
      text-shadow:
        1rem 1rem 3px rgba($blackLightColor, .13),
        2rem 2rem 3px rgba($blackLightColor, .13),
        3rem 3rem 3px rgba($blackLightColor, .13),
        4rem 4rem 3px rgba($blackLightColor, .13),
        5rem 5rem 3px rgba($blackLightColor, .13),
        6rem 6rem 3px rgba($blackLightColor, .13),
        7rem 7rem 3px rgba($blackLightColor, .13),
        8rem 8rem 3px rgba($blackLightColor, .13),
        9rem 9rem 3px rgba($blackLightColor, .13),
        10rem 10rem 3px rgba($blackLightColor, .13);
    }
  }
  &__content {
    color: $blackLightColor;
    text-align: center;
    transition: $transition;
  }
  &__title {
    margin: 0 0 10rem;
  }
  &__text {
    color: inherit;
  }
  &__description {
    text-align: left;
    color: inherit;
  }
}

.about-card {
  &__inner {
    display: flex;
    align-items: center;
    @media (max-width: $md) {
      flex-wrap: wrap;
    }
  }
  &__picture {
    background: $accentColor;
    width: 62rem;
    height: 62rem;
    margin-right: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $whiteColor;
    border-radius: 50%;
    flex-shrink: 0;
    @media (max-width: $md) {
      width: 54rem;
      height: 54rem;
      margin: 0 0 var(--gap);
    }
    img {
      width: 28rem;
      height: 28rem;
      object-fit: contain;
      @media (max-width: $md) {
        width: 24rem;
        height: 24rem;
      }
    }
  }
  &__content {
    flex-grow: 1;
  }
  &__title {
    font-weight: normal;
    color: $blackLightColor;
  }
}

.gallery-link {
  background: $whiteColor;
  width: fit-content;
  padding: 22rem 34rem;
  color: $accentColor;
  text-align: center;
  border-radius: $radiusSm;
  position: relative;
  @media (max-width: $md) {
    padding: 16rem;
  }
  &__header {
    margin: 0 0 12rem;
  }
  &__title {
    @extend %link-cover;
    font-weight: bold;
    text-decoration: underline;
    transition: $transition;
    &:hover {
      @media (min-width: $lg-mf) {
        color: $fontColor;
      }
    }
  }
  &__media {
  }
  &__picture {
    box-shadow: $boxShadowBlack3;
    border-radius: $radiusXs;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
    img {
      max-width: 100%;
      display: block;
    }
  }
}

.btn-play {
  @extend %btn-reset;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: $transition;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
  &:hover {
    &:before {
      @media (min-width: $lg-mf) {
        background: $greyColor;
      }
    }
    &:after {
      @media (min-width: $lg-mf) {
      }
    }
  }
  &:before,
  &:after {
    content: '';
    transition: $transition;
  }
  &:before {
    background: $whiteColor;
    width: 116rem;
    height: 116rem;
    border-radius: 50%;
    box-shadow: 0 0 0 16rem rgba($whiteColor, .7);
    animation: pulse 1.8s infinite;
    @media (max-width: $md) {
      width: 60rem;
      height: 60rem;
      box-shadow: 0 0 0 10rem rgba($whiteColor, .7);
    }
  }
  &:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24rem 0 24rem 42rem;
    border-color: transparent transparent transparent $accentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: $md) {
      border-width: 12rem 0 12rem 20rem;
    }
  }
}

.reviews-video-card {
  background: $yellowColor;
  padding: 44rem;
  color: $blackLightColor;
  border-radius: $radiusMedium;
  overflow: hidden;
  @media (max-width: $md) {
    padding: 20rem;
  }
  &__media {
    margin: 0 0 40rem;
    border-radius: $radiusMedium;
    user-select: none;
    position: relative;
    overflow: hidden;
    @media (max-width: $md) {
      margin-bottom: 15rem;
    }
    &:before {
      background: rgba($blackColor, .2);
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
  &__img {
    @extend %img-cover;
    padding: 0 0 85.7142857143%;
  }
  &__link {
  }
  &__content {
  }
  &__name {
    margin: 0;
  }
  &__position {
    margin: 0 0 18rem;
    @media (max-width: $md) {
      margin-bottom: 10rem;
    }
  }
  &__text {
  }
}

.reviews-card {
  background: $greyNeutralColor;
  padding: 26rem;
  border-radius: $radiusMedium;
  position: relative;
  z-index: 1;
  @media (max-width: $md) {
    padding: 20rem;
  }
  &:before {
    background: url('data:image/svg+xml,%3Csvg width="54" height="43" viewBox="0 0 54 43" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M17.6224 20.1088C19.7203 21.0363 21.3566 22.4275 22.5315 24.2824C23.7063 26.1373 24.2937 28.3294 24.2937 30.8588C24.2937 34.4843 23.1608 37.4353 20.8951 39.7118C18.6294 41.9039 15.7343 43 12.2098 43C8.68531 43 5.74825 41.8618 3.3986 39.5853C1.13287 37.3088 0 34.4 0 30.8588C0 29.1725 0.20979 27.4863 0.62937 25.8C1.04895 24.1137 1.97203 21.5843 3.3986 18.2118L10.6993 0H23.1608L17.6224 20.1088ZM47.3287 20.1088C49.4266 21.0363 51.0629 22.4275 52.2378 24.2824C53.4126 26.1373 54 28.3294 54 30.8588C54 34.4843 52.8671 37.4353 50.6014 39.7118C48.3357 41.9039 45.4406 43 41.9161 43C38.3916 43 35.4545 41.8618 33.1049 39.5853C30.8392 37.3088 29.7063 34.4 29.7063 30.8588C29.7063 29.1725 29.9161 27.4863 30.3357 25.8C30.7552 24.1137 31.6783 21.5843 33.1049 18.2118L40.4056 0H52.8671L47.3287 20.1088Z" fill="%23185A68"/%3E%3C/svg%3E%0A') 50% / contain no-repeat;
    width: 54rem;
    height: 43rem;
    content: '';
    position: absolute;
    top: -19rem;
    right: 30rem;
    @media (max-width: $md) {
      width: 40rem;
      height: 32rem;
      top: -18rem;
      right: 28rem;
    }
  }
  &__header {
    margin: 0 0 15rem;
    display: flex;
    align-items: center;
  }
  &__avatar {
    @extend %img-cover;
    width: 68rem;
    height: 68rem;
    border-radius: $radiusSm;
    &-border {
      width: 100%;
      height: 100%;
      color: $accentColor;
      position: absolute;
      top: 0;
      left: 0;
      &:before {
        inset: -5rem;
      }
    }
    &-wrapper {
      margin: 0 19rem 0 5rem;
      flex-shrink: 0;
      position: relative;
      z-index: 0;
      @media (max-width: $md) {
        margin-right: 12rem;
      }
    }
  }
  &__info {
    color: $accentColor;
  }
  &__name {
    margin: 0;
  }
  &__position {
    margin: 0;
  }
  &__content {
    max-width: 94%;
    @media (max-width: $md) {
      max-width: 100%;
    }
  }
  &__text {
  }
}

.u-video {
  position: relative;
  &.is-play {
    .u-video__media {
      &:after {
        opacity: 0;
        visibility: hidden;
      }
    }
    .u-video__btn-play {
      transform: scale(1.8);
      opacity: 0;
      visibility: hidden;
    }
  }
  &__media {
    padding: 0 0 68.5714285714%;
    box-shadow: $boxShadowBlack1;
    border-radius: $radiusMd;
    position: relative;
    overflow: hidden;
    @media (max-width: $md) {
      border-radius: $radiusMedium;
    }
    &:after {
      background: rgba($blackColor, .5);
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      transition: $transition;
    }
    > * {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  &__btn-play {
    border-radius: $radiusMd;
    overflow: hidden;
    z-index: 1;
  }
}

.faq-card {
  transition: $transition;
  transition-property: background, color, box-shadow;
  overflow: hidden;
  @media (max-width: $md) {
  }
  &.is-show {
    .faq-card__dropdown {
      height: auto;
      @media (max-width: $md) {
      }
    }
    .faq-card__icon {
      .u-icon {
        transform: none;
      }
    }
  }
  &__header {
    display: flex;
    align-items: center;
    color: $blackColor;
    border-radius: $radiusSm2;
    box-shadow: inset 0 0 0 2px currentColor;
    transition: $transition;
    transition-property: color;
    position: relative;
    &:hover {
      @media (min-width: $lg-mf) {
        color: $accentColor;
      }
    }
  }
  &__btn {
    @extend %btn-reset, %link-cover;
    min-height: 62rem;
    padding: 10rem 28rem 10rem 0;
    display: flex;
    align-items: center;
    color: inherit;
    text-align: left;
    flex-grow: 1;
    cursor: pointer;
    &:before {
      z-index: 1;
    }
  }
  &__title {
    margin: 0 var(--gap-fluid) 0 0;
  }
  &__icon {
    width: 24rem;
    height: 24rem;
    margin: 0 12rem 0 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    transition: $transition;
    transition-property: background, color;
    @media (max-width: $md) {
      width: 20rem;
      height: 20rem;
      margin: 0 10rem;
    }
    @media (min-width: $lg-mf) {
    }
    .u-icon {
      width: 100%;
      height: 100%;
      display: block;
      transform: rotate(180deg);
      transition: $transition;
      transition-property: transform;
    }
  }
  &__dropdown {
    height: 0;
    transition: $transition;
    overflow: hidden;
  }
  &__inner {
    background: $whiteColor;
    margin-top: 14rem;
    padding: 24rem;
    font-size: var(--fs-6);
    border: 2px solid $blackColor;
    border-radius: $radiusSm2;
    @media (max-width: $md) {
      margin-top: 8rem;
      padding: 16rem;
    }
  }
  &__text {
    line-height: $lineHeight2;
    @media (max-width: $lg) {
    }
  }
}

.btn-moore {
  @extend %area-click, %btn-reset;
  display: inline-flex;
  align-items: center;
  font-size: var(--fs-5);
  cursor: pointer;
  transition: $transition;
  &:hover {
    @media (min-width: $lg-mf) {
      color: $accentColor;
    }
  }
  &__icon {
    margin-right: 10rem;
    flex-shrink: 0;
    &:before {
      width: 0;
      height: 0;
      content: '';
      display: block;
      border-style: solid;
      border-width: 15rem 9rem 0 9rem;
      border-color: currentColor transparent transparent transparent;
    }
  }
  &__title {
    box-shadow: inset 0 -1px 0 currentColor;
  }
}