/* Headings, Common BEM Blocks, and More... */

.btn {
  max-width: 100%;
  min-height: var(--btn-height);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: inherit;
  font-size: var(--btn-font-size);
  line-height: $lineHeightDefault;
  font-family: $fontFamily;
  text-align: center;
  text-transform: none;
  border: none;
  border-radius: 0;
  outline: none;
  user-select: none;
  transition: $transition;
  position: relative;
  cursor: pointer;
  z-index: 0;
  &:hover {
    text-decoration: none;
  }
  &.disabled,
  &:disabled {
    pointer-events: none;
  }
  &--theme {
    &-accent-fill {
      background: $accentColor;
      color: $whiteColor;
      border: 1px solid $accentColor;
      border-radius: $radiusSm;
      &:hover {
        @media (min-width: $lg-mf) {
        }
      }
      &:focus,
      &:active {
      }
    }
  }
  &--size {
    &-md {
      --btn-height: 52rem;
      --btn-padding-x: 28rem;
      --btn-padding-y: 8rem;
      --btn-font-size: var(--fs-6);
      @media (max-width: $md) {
        --btn-height: 44rem;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: none;
    z-index: 1;
  }
  &__title {
  }
  &__icon {
    width: 24rem;
    height: 24rem;
    position: relative;
    &--dir {
      &-ltr {
        margin-right: 10rem;
      }
      &-rtl {
        margin-left: 10rem;
      }
    }
    .u-icon,
    img,
    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.u-input {
  background: var(--input-bg);
  width: 100%;
  min-height: var(--input-size);
  padding: var(--input-padding-y) var(--input-padding-x);
  display: block;
  font-size: var(--input-fs);
  color: var(--input-color);
  border-radius: var(--input-radius);
  border: none;
  outline: none;
  transition: $transition;
  &--size {
    &-md {
      --input-size: 52rem;
      --input-padding-y: 6rem;
      --input-padding-x: 32rem;
      --input-fs: var(--fs-6);
      --input-radius: #{$radiusSm};
      @media (max-width: $md) {
        --input-size: 44rem;
      }
    }
  }
  &--theme {
    &-grey {
      --input-bg: #{$greyColor};
      --input-color: #{$fontColor};
      --input-placeholder-color: #{rgba($fontColor, .4)};
      border: 1px solid transparent;
      @media (max-width: $md) {
      }
      &:hover {
        @media (min-width: $lg-mf) {
        }
      }
      &:focus {
      }
    }
  }
  &::placeholder {
    color: var(--input-placeholder-color);
    opacity: 1;
    transition: $transition;
  }
  &:focus {
    &::placeholder {
      opacity: .2;
    }
  }
}

.u-content {
  line-height: $lineHeightDefault;
  word-wrap: break-word;
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  p {
    margin: 0 0 1em;
  }
  a {
    color: $accentColor;
    box-shadow: inset 0 -1px 0 transparent;
    transition: $transition;
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
        box-shadow: inset 0 -1px 0 rgba($accentColor, .4);
      }
    }
  }
}

.cta-form {
  &__inner {
    display: flex;
    @media (max-width: $md) {
      flex-direction: column;
    }
  }
  &__el {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    @media (max-width: $md) {
      text-align: center;
      border-radius: 6rem 6rem 0 0;
    }
    &:not(.is-show) {
      display: none;
    }
    &-wrapper {
    }
  }
  &__btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    @media (max-width: $md) {
      border-radius: 0 0 6rem 6rem;
    }
  }
}

.courses-card {
  text-align: center;
  position: relative;
  &:hover {
    .courses-card__img {
      @media (min-width: $lg-mf) {
        box-shadow: $boxShadowBlack2;
      }
    }
  }
  &__content {
  }
  &__title {
    margin: 0;
    font-weight: bold;
    font-size: var(--fs-11);
  }
  &__link {
    @extend %link-cover;
    &:hover {
      text-decoration: none;
      transition: $transition;
      @media (min-width: $lg-mf) {
      }
    }
  }
  &__media {
    width: fit-content;
    margin: 0 auto;
    position: relative;
    z-index: -1;
  }
  &__img {
    @extend %img-cover;
    width: 136rem;
    padding-bottom: 61.5%;
    transition: $transition;
    border-radius: $radiusXs;
    box-shadow: $boxShadowBlack1;
    @media (max-width: $md) {
      width: 120rem;
    }
  }
}

.slider-courses {
  margin: 0 -5rem;
  @media (max-width: $md) {
    margin-right: -20rem;
    margin-left: -20rem;
  }
  .swiper {
    overflow: visible;
    &-wrapper {
      overflow: visible;
    }
    &-slide {
      width: fit-content;
      padding: 0 5rem;
      @media (max-width: $md) {
        width: 160rem;
        padding: 0 20rem;
      }
      &-prev {
        @media (max-width: $md) {
          transform: rotate(-14deg) translate(6rem, 16rem);
        }
      }
      &-next {
        @media (max-width: $md) {
          transform: rotate(14deg) translate(-6rem, 16rem);
        }
      }
      &:after {
        background: url('data:image/svg+xml,%3Csvg width="1" height="42" viewBox="0 0 1 42" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M0.999999 14L-6.11959e-07 14L0 -4.37113e-08L1 0L0.999999 14Z" fill="black"/%3E%3C/svg%3E%0A') 0 0 / 100% auto repeat-y;
        width: 1px;
        height: 58rem;
        margin-top: 8rem;
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        animation: 2s lines-shake infinite linear;
        @media (max-width: $md) {
          height: 40rem;
        }
      }
    }
  }
  &__inner {
  }
  &__slide {
    transform: rotate(0deg) translate(0px, 0px);
    transition: all .8s ease-out;
  }
  &__card {
  }
}