$siteResolution: .06613756613vw;
$siteResolutionMd: .3125vw;
$mainFont: 'Poppins';
$mainWeight: 400;
$lineHeight1: 1.3;
$lineHeight2: 1.27777777778;
$lineHeight3: 1.22916666667;
$lineHeight4: 1.39285714286;
$lineHeightDefault: $lineHeight1;

$containerWidthMd: 1294rem;

$gap: 10rem;
$gapFluid: 20rem;

$radiusXs: 5rem;
$radiusSm: 10rem;
$radiusSm2: 12rem;
$radiusSemi: 15rem;
$radiusMedium: 20rem;
$radiusMd: 25rem;

$whiteColor: #ffffff;
$blackColor: #000000;
$blackLightColor: #383838;
$greyColor: #EAEAEA;
$greyLightColor: #E9E8DF;
$greyMediumColor: #C3C5BE;
$greyNeutralColor: #D5D5D5;
$greyDarkColor: #6E6E6E;
$yellowColor: #D1C60C;
$blueColor: #185A68;
$blueLightColor: #187386;
$accentColor: $blueColor;

$bgSite: $whiteColor;

$fontFamily: $mainFont, Open Sans, sans-serif, Arial;
$fontColor: $blackColor;
$fontWeight: $mainWeight;

$boxShadowBlack1: 0 4px 24px rgba($blackColor, .25);
$boxShadowBlack2: 0 6px 18px rgba($blackColor, .6);
$boxShadowBlack3: 0 4px 8px rgba($blackColor, .2);

$transition: all .4s 0ms;

$xl: 1340px;
$xl-mf: $xl + 1;

$lg: 1199px;
$lg-mf: $lg + 1;

$md: 991px;
$md-mf: $md + 1;

$sm: 767px;
$sm-mf: $sm + 1;

$xs: 576px;
$xs-mf: $xs + 1;

:root {
  --fs-default: 16rem;
  --fs-1: 48rem;
  --fs-2: 28rem;
  --fs-3: 26rem;
  --fs-4: 23rem;
  --fs-5: 20rem;
  --fs-6: 18rem;
  --fs-7: 16rem;
  --fs-8: 14rem;
  --fs-9: 12rem;
  --fs-10: 10rem;
  --fs-11: 9rem;
  --fs-12: 57.5rem;
  --fs-13: 38rem;

  --gap: 10rem;
  --gap-: -10rem;
  --gap-fluid: 20rem;
  --gap-fluid-: -20rem;
  --gap-container: var(--gap-fluid);
  --gap-container-: var(--gap-fluid-);

  --slider-gap: 10rem;

  --section-circle-gap: 140rem;
  --section-gap-1: 140rem;
  --section-gap-2: 60rem;
  --section-gap-3: 100rem;
  --section-gap-4: 180rem;
  --section-gap-5: 200rem;

  --subtitle-gap: 10rem;
  --title-gap: 44rem;
  --header-gap: 74rem;
  --footer-section-gap: 74rem;

  --slider-reviews-video-gap: 20rem;
  --slider-reviews-gap: 18rem;
  --slider-services-gap: 18rem;
  --slider-marquee-gap: 10rem;
  --slider-info-gap: 26rem;

  --cta-md-mw: 518rem;

  --vh: 1vh;

  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #EAEAEA;
  --yellow-color: #D1C60C;
  --blue-color: #185A68;
  --accent-color: var(--blue-color);

  --u-box-color-accent: var(--accent-color);
  @media (max-width: $md) {
    --fs-default: 14rem;
    --fs-1: 22.8rem;
    --fs-2: 20rem;
    --fs-3: 18rem;
    --fs-4: 16rem;
    --fs-5: 16rem;
    --fs-6: 14rem;
    --fs-7: 14rem;
    --fs-12: 22rem;
    --fs-13: 23.2rem;
    
    --subtitle-gap: 5rem;

    --slider-reviews-video-gap: 0;
    --slider-reviews-gap: 0;
    --slider-services-gap: 12rem;
    --slider-marquee-gap: 10rem;
    --slider-info-gap: 12rem;

    --header-gap: 40rem;
    --footer-section-gap: 40rem;

    --section-circle-gap: 60rem;
    --section-gap-1: 60rem;

    --cta-md-mw: 100%;

    --title-gap: 30rem;
  }
}